.container{
    margin: 2.5em 1em;
}
body{
    font-family: 'Montserrat', sans-serif !important;
}
.titulo{
    margin: 2.3em 0em ;
}
.container a {
    color: green;
    background-color: transparent;
    text-decoration: none;
}
.container a:hover{
    color: green;
    text-decoration: underline;
}
.container .idioma {
    margin: 1.1em 0.2em;
}
.container .tratamento {
    margin: 1.1em 0.2em;
}
.container .coloracao {
    margin: 1.3em 0.2em;
}